* {
  margin: 0;
}


:root {
  --bg: rgb(70, 142, 236);
}


body{
   background:var(--bg);
 }
 
 header{
   color: white;
   text-align: center;
 }
 
 #app {
   background: white;
   border-radius: 10px;
   max-width: 700px;
   margin: auto;
   box-shadow: 3px 3px 10px rgba(0,0,0,150);
   padding: 8px 4px;
   justify-content: center;
   align-items: center;
 }
#app ul {
   padding: 12px 0;
 }
#app ul li{
  margin-bottom: 4px;
  list-style: none;
  padding-left: 4px;
  border-bottom:#777 solid 1px;
  padding: 4px;
  
}
#app ul li:nth-lastChild{
  border: none;
}
#app a{
  text-align: center;
  border: #000 solid 2px;
  border-radius: 10px;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-self: center;
  background-color: #ff0000;
  text-decoration: none;
  color: white;
  margin-left: 12px;
}
#app li {
  display: grid;
  grid-template-columns: 2fr 1fr;
 align-items: center;
  justify-content: space-around; 

}
input {
   border: var(--bg) solid 4px;
   padding: 12px 0;
   margin: 12px auto;
   border-radius: 20px;
   width: 400px;
 }
 input[placeholder]{
   text-align: center;
 }
 button {
   background-color: #ed9200;
   padding: 14px;
   border-radius: 10px;
 }
 #add {
   justify-content: center;
   margin: 0 auto;
   align-items: center;
   text-align: center;
 }
 footer {
   margin: 16px 0;
   color: white;
   text-align: center;
   font-style: italic;
 }
 @media only screen and (max-width: 600px){
   #app {
     width: 100%;
   }
   input{
     width: 60%;
     margin: 12px;
   }
  }